html,body{
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,i{
    text-decoration: none;
}
input{
    background: none;
    background: #fff;
    outline: none;
    border: 1px solid #333;
}
button{
    background: none;
    background: #fff;
    outline: none;
    border: none;
    border: 1px solid #333;
}
